body {
	/*background:#245ea6;*/
	background-image: url("../background.jpg");

	color:white;

}

.logo {
	margin-left:30px;
	margin-top:-8px;
	height:250%;
}

.navbar {
	background:#243ea6;
	height:60px;
	
}

.contact {
	color:black;
}

.language-btn {
	background:black;
	color:white;
	margin:8px 8px 0px 0px;
	
}


.container {
	width:90%;
}

.description {
	float:left;
	width: 80%;
	padding:10px;
	margin-top:40px;
	font-size:24px;
	margin-left:30px;
	color:white;
	text-shadow: 3px 2px #243ea6;
}

.sideBar {
	width:300px;
 	display:block;
 	float: right;
 	margin-top:40px;
 	margin-right:30px;
 	margin-bottom:40px;
	/*border-width:2px;
	border-style:solid;
 	border-color:black;
 	border-radius:10px;*/
 	padding:10px;
 	padding-right:20px;
 	padding-left:20px;
 	background:white;
 	color:#245ea6;
 	box-shadow:8px 4px #244ea6;



 }

 .signUpBtn {
  
 	width:150px;
 	height:80px;
 	margin-left:150px;
 	border-radius:10px;
 	background-color: white;
 	color:#245ea6;
 }


 /*CONTACT CSS*/

.contactSideBar {
	width:300px;
 	display:block;
 	float: right;
 	margin-top:40px;
 	margin-right:30px;
 	margin-bottom:40px;
	/*border-width:2px;
	border-style:solid;
 	border-color:black;
 	border-radius:10px;*/
 	padding:10px;
 	padding-right:20px;
 	padding-left:20px;
 	background:white;
 	color:black;
 	box-shadow:8px 4px #244ea6;
}


/*.contactContainer {
	width:600px;
	
	background-color: #243ea6;
	opacity:.9;
	float:left;
	padding:10px;
	margin-top:40px;
	font-size:24px;
	margin-left:80px;



			
}*/

.contactSection {
	width:600px;
 	display:block;
 	/*float: right;*/
 	margin-top:40px;
 	margin-left:30px;
 	margin-bottom:40px;
	/*border-width:2px;
	border-style:solid;
 	border-color:black;
 	border-radius:10px;*/
 	padding:10px;
 	padding-right:20px;
 	padding-left:20px;
 	background:#244ea6;
 	color:white;
 	text-align: center;
 	opacity:.9;
			
}

.contactSection a:hover {
	color:white;
}

.backgroundLogo {
	width:300px;
	margin:60px 0px 0px 60px;
	float:left;
}


/*SIGNUP PAGE CSS*/

.signUpHeader {
	width:60%;
	color:white;
	text-shadow: 8px 4px #243ea6;
}

.signUpForm {

	width:50%;
	margin:auto;
	margin-bottom:100px;
	background:#243ea6;
	opacity:.85;
	padding:20px;
	border-radius:10px;


}

/*ALERT STYLING*/

.alertBtn {
	width:150px;
 	height:80px;
 	margin-left:150px;
 	border-radius:10px;
 	background-color: red;
 	color:white;
}
